<?xml version="1.0"?>

<launch>

  <!-- Start the sonar reading -->
  <node name="sonar"
        pkg="sonar_oculus"
        type="sonar"
        output="screen"
        respawn="true"
        respawn_delay="5">
    <!-- Set ROS parameters -->
    <param name="frame" type="string" value="sonar"/>
  </node>


  <!-- Open a reconfigure window for adjusting sonar properties -->
  <node name="rqt_reconfigure"
  pkg="rqt_reconfigure"
  type="rqt_reconfigure">
  </node>

</launch>
